.topnavWrapper{
    width: 100%;
    top: 0;
    position: fixed;
  }
  
  .topnav { 
      max-width: 1300px;
      width: 100%;
      margin: 0 auto;
      top: 0;
      left: 0;
      text-transform: uppercase;
      height: 110px;
      font-size: 15px;
      font-weight: bold;
      -webkit-transition: 0.5s ease;
    }
    .topnav #logo{
      height: 110px;
      -webkit-transition: 0.5s ease;
    }
    .icon{
      display: none;
    }
    
    .topnav div a, 
    .topnav .icon {
      float: right;
      display: block;
      text-align: center;
      border-radius: 10px;
      padding: 15px;
      text-decoration: none;
      bottom: 0;
      margin-bottom: 0;
      cursor: pointer;
    }
    .topnav .active{
      float: left;
    }
    
    .topnav a.active {
      -webkit-transition: 0.5s ease;
    }
    .topnav div a:hover,
    .topnav.icon:hover,
     .dropdown .dropbtn:hover {
      color:lightgray;
    }
    
    .topnav .icon {
      display: none;
    }

    .dropbtn {
        cursor: pointer;
        font-size: 15px;  
        font-weight: bold;  
        border: none;
        outline: none;
        padding: 14px 16px;
        font-family: inherit;
        margin: 0;
        border-radius: 10px;
      }
      
      .dropdown {
        float: right;
        overflow: hidden;
        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none !important;
        padding: 12px 16px !important; 
        text-decoration: none;
        display: block;
        text-align: left!important;
       
      }
      .dropdown .dropbtn {
        border: none;
        outline: none;
        padding: 15px;
        font-family: inherit;
        margin: 0;
      }
      
      
      .show {display: block;}
      .showMenuDropdown {display: block;}
      
    /* @media screen and (max-width: 1200px)and (min-width: 900px) {
      .topnav div a,
      .topnav .icon,
      .dropdown .dropbtn {
        display: none;}
      
      .topnav .icon {
        float: right;
        display: block;   
      }
     
      .topnav.icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0px;
      }
      
    } */
    /* @media screen and (max-width: 900px)and (min-width: 400px) {     
      .topnav div a,
      .topnav .icon,
      .dropdown .dropbtn {
        display: none;}
      
      .topnav .icon {
        float: right;
        display: block;
        padding: 0 !important;
        margin-top: 0 !important;
      }
      
      .topnav.icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0px;
      }
      .topnav .active{
        height:70px !important;
        margin-top: 0 !important;
      }
      .topnav{
        height: 70px !important;
      }
      .topnav #menuIcon{
        height: 70px !important;
      }
      
    } */

    /* @media screen and (max-width: 400px) {
      .topnav div a,
      .topnav .icon,
      .dropdown .dropbtn {
        display: none;}
      
      .topnav .icon {
        float: right;
        display: block;
        padding: 0 !important;
        margin-top: 0 !important;
      }
      
      .topnav.icon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0px;
        margin-top: 0 !important;
      }
      .topnav .active{
        height:60px !important;
        margin-top: 0 !important;
      }
      .topnav{
        height: 60px !important;
      }
      .topnav #menuIcon{
        height: 60px !important;
      }
    } */
    /* @media screen and (max-width: 400px) {
      .topnav.responsive .active{
        float: none;
      }
      .topnav.responsive .cornerBlock{
        display: inline-flex;
      }
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        display: block;
        right: 0;
        top: 0;
        padding: 0px !important;
      }.topnav.responsive .icon {
        padding: 0px;
        margin-top: 0px !important; 
      }
      .topnav.responsive div a{
        float: none;
        display: block;
        text-align: left;
        border-radius: 0%;
       
      }
      .topnav.responsive .menu-content{
        width: 100%;
        
      } 
      
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown .dropdown-content{position: relative;font-style: italic;}
    
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
        float: none;
        border-radius: 0;
      }
      .topnav.responsive .active{
        height:60px !important;
        margin-top: 0 !important;
      }
      .topnav.responsive{
        height: 60px !important;
      }
      .topnav.responsive #menuIcon{
        height: 60px !important;
      }
    }*/
    
    
    /* @media screen and (max-width: 1200px) and (min-width: 400px) {
      .topnav.responsive .active{
        float: none;
      }
      .topnav.responsive .cornerBlock{
        display: inline-flex;
      }
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        display: block;
        right: 0;
        top: 0;
        padding: 0px;
      }.topnav.responsive .icon {
        padding: 10px;
        margin-top: 10px;
      }
      .topnav.responsive div a{
        float: none;
        display: block;
        text-align: left;

        border-radius: 0%;
      }
      .topnav.responsive .menu-content{
        width: 100%;
        
      }
      .topnav.responsive .dropdown {float: none;}
      .topnav.responsive .dropdown .dropdown-content{position: relative;font-style: italic;}
    
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
        float: none;
        border-radius: 0;
      }
      
    } */

/*Our Services dropdown menu styling starts here*/
