body,
html {
    margin: 0;
    padding: 0;
}

.topnavWrapper {
    width: 100%;
    top: 0;
    position: fixed;
    /* position:sticky; */
    z-index: 1;
    background-color: white;
}

.topnav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: 0.5s ease;
}

.topnav .logoDiv {
    vertical-align: middle;
    text-align: center;
}

.topnav #logo {
    height: 200px;
    /* max-width: 228px; */
    -webkit-transition: 0.5s ease;
}

.topnav .menu-content {
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: 0.5s ease;
}

.icon {
    display: none;
}

.topnav div a,
.topnav .icon,
.topnav .dropdown {
    /* float: right; */
    /* display: block; */
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 18px;
    text-decoration: none;
    bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
    /* margin-left: 30px; */
    margin: 15px 0 20px 20px;
}

.topnav a.active {
    -webkit-transition: 0.5s ease;
}

.topnav div a:hover,
.topnav.icon:hover,
.dropdown .dropbtn:hover {
    color: lightgray;
}

.topnav .icon {
    display: none;
}

.dropbtn {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
}

.dropdown {
    /* float: right; */
    /* display: inline-block; */
    /* overflow: hidden;    */
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    float: left;
    background-color: white;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    float: none !important;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block !important;
    text-align: left!important;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 18px;
    font-family: inherit;
    margin: 0;
}

.show {
    display: block;
}


/* Page Content css */

.pageContent {
    padding-top: 250px;
    -webkit-transition: 1s ease;
}

.footerclass2 a:hover {
    color: lightgray;
}

.fbLink:hover {
    color: gray;
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 10px;
}

.reminder {
    font-size: 13px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}