<div class="footer" style="margin: 0 auto">
    <div class="fbLink" style="display: flex;justify-content: center;align-items: center;font-weight: bold;">
        <a onclick="window.open('https://www.facebook.com/bubbleteawellington/')">f</a>
    </div>
    <br />
    <div class="footerclass2" style="display: flex;justify-content: center;align-items: center;color: gray">
        <a onclick="showPage('?about')">ABOUT US</a>
        <a onclick="showPage('?contactus')">&nbsp;&nbsp;CONTACT US</a>
        <a onclick="showPage('?faq')">&nbsp;&nbsp;FAQ</a>
    </div>
    <br />
    <div class="copyright" style="display: flex;justify-content: center;align-items: center;">
        <p id="copyrightText">Copyright © 2012-2020 NOAH'S ARK TEAHOUSE</p>
    </div>
</div>