.container {
    max-width: 1400px;
    margin: 10px auto;
    padding-top: 30px;
}

.about,
.blog,
.home {
    width: 56%;
    margin: 5% auto;
}


.home img,
.blog img,
.about img {
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 5px auto;
}

@media screen and (max-width:640px) {
    .about,
    .blog,
    .home{
        width: 100%;
        padding: 17px;
    }
    .mySlides {
        padding-top: 50px;
    }
}


/* covid-19 */

.covid-19 {
    width: 50%;
    margin: 5% auto;
}

.covid-19 h1 {
    font-family: din-condensed-web;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-size: 4.8ex;
    margin-bottom: 1em;
}

.covid-19 h2 {
    font-family: din-condensed-web;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0.075em;
    line-height: 1.4em;
    text-transform: uppercase;
}

.covid-19 h3 {
    margin: 15px 0 10px;
    font-family: proxima-nova;
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 0.2em;
    line-height: 1.8em;
    text-transform: uppercase;
}

.covid-19 p {
    margin: 13px 0;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.02em;
    line-height: 2.2em;
    text-transform: none;
    color: rgba(82, 82, 82, 0.6);
}


/* covid-19 end */


/*  about  */

.about h1 {
    text-align: center;
}


/* about end */


/* menu */

menu {
    background-color: lightgray;
    max-width: 1080px;
    margin: 30px auto;
}

.menu-h2 {
    color: gray;
    padding: 60px 15px 15px;
    text-align: center;
    font-family: din-condensed-web;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.075em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.menu h2 {
    font-family: din-condensed-web;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.075em;
    line-height: 1.4em;
    text-transform: uppercase;
}

.menu span {
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 2.2em;
    text-transform: none;
    color: rgba(82, 82, 82, 0.6);
}

.menu-image {
    background-color: white;
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px auto;
    text-align: center;
    margin-top: 50px;
    padding: 17px;
}

.image-content {
    display: inline;
}


/* The Pop on Modal (background) */

.modal,
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content,
.modal-content2 {
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.modal-content img {
    padding: 1%;
    height: 100%;
}

.modal-content2 img {
    padding: 1%;
    width: 100%;
}

#img-btn1,
#img-btn2 {
    display: inline;
    height: 50vh;
    max-height: 640px;
    padding: 10px;
    cursor: pointer;
}


/* The Close Button */

.close,
.close2 {
    margin: 1%;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.menu-about h2 {
    text-align: center;
}

.menu-about-heading {
    text-align: center;
}

.menu-about-wrapper {
    display: flex;
    margin: 0 auto;
}

.menu-about-content {
    width: 31%;
    border-radius: 15px;
    margin: 10px auto;
    padding: 5px;
}

.new-range {
    max-width: 1400px;
}

.range-heading {
    margin: 60px auto;
    text-align: center;
    padding: 10px;
}

.range-heading p {
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 2.2em;
    text-transform: none;
    color: rgba(82, 82, 82, 0.6);
}

.range-menu {
    padding: 20px;
    text-align: center;
}

.range-product-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.range-product {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.empty-image {
    display: none;
}

@media screen and (min-width: 1200px) {
    .range-product-wrapper {
        width: 23%;
        margin: 0.8%;
    }
}

@media screen and (max-width: 1200px) {
    .range-product-wrapper {
        width: 30%;
        margin: 1.5%;
    }
}

@media screen and (max-width: 900px) {
    .range-product-wrapper {
        width: 48%;
        margin: 2% 0.5% 5%;
        padding: 0 5px;
    }
}

.range-product img {
    width: 100%;
    margin-bottom: 20px;
    display: block;
}

.range-product-name {
    text-align: left;
}

.range-product h3,
.tea-box h3 {
    margin-bottom: 2px;
}

.range-product span {
    position: absolute;
    padding: 5px;
    background: white;
    color: black;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in;
}

.range-product:hover span {
    visibility: visible;
    opacity: 1;
    bottom: 70px;
}

.range-product-category p {
    display: inline;
    margin: 0;
    float: left;
}


/* menu end */


/* footer */

.footer1 {
    margin-top: 100px;
}

.creation-container {
    max-width: 1400px;
    margin: 10px auto;
}

.creation-row {
    max-width: 100%;
    text-align: center;
}

.tea-name,
.creation-row p {
    text-align: left;
}


/* connie's footer */

.tea-box-wrapper {
    margin: 10px auto;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

@media screen and (min-width:1300px) {
    .tea-box-wrapper {
        width: 19%;
        margin: 10px 0.3%;
    }
}

@media screen and (max-width:1300px) {
    .tea-box-wrapper {
        width: 24%;
        margin: 10px 0.3%;
    }
}

@media screen and (max-width:1070px) {
    .tea-box-wrapper {
        width: 32%;
        margin: 10px 0.5%;
    }
}

@media screen and (max-width:800px) {
    .tea-box-wrapper {
        width: 48%;
        margin: 10px 0.5%;
    }
}

.tea-box img {
    width: 100%;
    display: inline-block;
}

.ins-container {
    text-align: center;
    margin: 20px auto;
}

.ins-row {
    max-width: 100%;
    margin: 20px auto;
}

.ins-container h3,
.a-button h3 {
    text-align: center;
}

.ins-img {
    width: 19%;
    padding: 0 1%;
    display: inline-block;
    margin: 10px 0;
}

.ins-img img {
    width: 100%;
    height: 13em;
    max-height: 260px;
}

.but-container {
    text-align: center;
    margin: 50px auto;
}

.a-button {
    text-align: center;
    font-size: 1em;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 50px;
    padding: 20px 50px;
}

.a-button:hover {
    cursor: pointer;
    background-color: grey;
}

.a-button :hover {
    cursor: pointer;
    background-color: grey;
}

.follow-ins-title {
    margin: 50px;
}


/* footer end  */

.about-content-text {
    max-width: 30em;
    margin: 5px auto;
    font-family: proxima-nova;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    line-height: 2.2em;
    text-transform: none;
    color: rgba(82, 82, 82, 0.6);
}


/* home */

.slideShow {
    display: block;
    /* width: 500px; */
    margin: 0 auto;
}

.mySlides {
    display: none;
    padding: 5px auto;
}


/* home */


/* contact us */

* {
    box-sizing: border-box;
}

.contactus {
    max-width: 700px;
    margin: 50px auto;
}

.contactus h1 {
    text-align: center;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: white;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
}

.innerContainer {
    border-radius: 5px;
    padding: 20px;
}


/* contact */


/* location and new-range start */

.locationTopnav,
.new-rangesTopnav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 60px;
}

.location {
    max-width: 1320px;
    margin: 0 auto;
    padding: 15px 1%;
}

.new-ranges {
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px 1%;
}

.details-title,
.category {
    display: none;
}

.locationTopnav a:hover,
.new-rangesTopnav a:hover {
    color: gray;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex: 1 0 19%;
    max-width: 290px;
    cursor: pointer;
    margin: 0 auto;
    padding-bottom: 15px;
}

@media screen and (min-width:960px) {
    .child {
        width: 22%;
    }
}

@media screen and (min-width:640px) and (max-width:960px) {
    .new-rangesPageContent .child {
        width: 31%;
    }
    .new-rangesPageContent .allImg {
        width: 100%;
    }
}

.allImgWrapper {
    max-width: 290px;
    max-height: 290px;
    overflow: hidden;
}

.child p:hover {
    color: gray;
}

.new-rangesPageContent .child {
    float: left;
    flex: initial;
    max-height: unset;
    padding: 10px 0.1%;
}

.new-rangesPageContent .child h3 {
    text-align: center;
    color: rgba(92, 92, 92, .7);
    font-weight: bold;
    font-size: 12px;
    text-transform: none;
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    line-height: .9em;
    text-transform: uppercase;
}

.new-rangesPageContent .allImg {
    margin: 0 auto;
    flex: initial;
    max-width: 100%;
}

.allImg {
    margin: none !important;
    max-width: 290px;
    /* height: 300px;
    width: 280px !important; */
}

@media screen and (max-width: 640px) {
    .parent {
        gap: 2px;
    }
    .location .allImg {
        height: 200px;
        /* width: 140px !important; */
        width: 100% !important;
    }
    .allImgWrapper {
        /* padding-top: 100%; */
    }
    .locationTopnav,
    .new-rangesTopnav {
        margin-top: 0;
    }
    .category {
        padding: 5px 0;
        margin: 0 auto;
        text-align: center;
        display: block;
        font-size: 1.3em;
    }
    .category-list {
        display: none;
    }
    .show-category-list {
        display: block;
    }
    .category-list a {
        padding: 3px 0;
        display: block;
        text-align: center;
        font-family: proxima-nova;
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        letter-spacing: .2em;
        line-height: 1.4em;
        text-transform: uppercase;
        color: rgba(82, 82, 82, .6);
    }
    .child {
        float: left;
        flex: initial;
        margin: 0 auto;
        padding: 10px 1%;
        width: 48%;
        /* margin-left: 10px;
      margin-right: 10px; */
    }
}


/* location new-range  end */


/* locationDetails  & rangeDetails start */

.rangeDetailsPage {
    max-width: 1400px;
    margin: 100px auto 0;
}

.leftCol,
.rightCol {
    float: left;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.leftColImg {
    max-width: 500px;
    width: 35vw;
}

.rangeDetails .leftCol {
    text-align: unset;
}

.locationDetails:after,
.rangeDetails:after {
    content: "";
    display: table;
    clear: both;
}

.previous-next-wrapper {
    padding-bottom: 50px;
}

#previousButton:hover,
#nextButton:hover {
    color: gray;
}

.leftColImgWrapper {
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    float: left;
    padding: 0 45px;
}

.others-heading {
    margin: 20px;
}

.normal-zoom {
    transform: scale(1);
    cursor: zoom-in;
    transition: transform 250ms;
}

.zoom-in {
    transform: scale(1.6);
    cursor: zoom-out;
    transition: transform 250ms;
}

.mapIframe {
    width: 100%;
    height: 400px;
    padding: 0px 50px 0px 50px;
}

.othersParent {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.othersParent div {
    flex: 10%;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.othersParent div:hover {
    color: gray;
}

.othersParent div p {
    text-align: center;
}

#othersImg {
    /* margin: none !important; */
    /* margin-left: 25px; */
    /* height: 200px !important;
  width: 200px !important; */
    width: 100%;
    height: 80%;
    cursor: pointer;
}

.leftColBottomImgWrapper {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    padding: 0px 45px;
    margin: none !important;
    /* margin: 0 auto; */
    gap: 10px;
}

.leftColBottomImg {
    width: 80px;
    margin: 10px 0;
    cursor: pointer;
}

.rangeDetails .leftColBottomImg {
    width: 75px !important;
}

#previousButton {
    margin-left: 40px;
}

#locationFb:hover,
#locationTwitter:hover,
#locationTumblr:hover,
#locationPinterest:hover {
    color: gray;
    cursor: pointer;
}


/* location and new-range for max-width:640 px */

@media screen and (max-width: 640px) {
    /* locationDetails */
    .locationDetails {
        display: block;
    }
    .leftColImgWrapper {
        padding: 15px 0;
    }
    .leftColBottomImg {
        margin: 10px 0;
        width: 75px;
    }
    .leftColBottomImgWrapper {
        padding: 0;
    }
    .leftCol,
    .rightCol,
    .leftColImg {
        width: 100%;
    }
    .mapIframe {
        padding: 0px 30px;
    }
    #othersImg {
        width: 100% !important;
        margin: none !important;
    }
    .othersParent div {
        flex: 1 0 55%;
    }
    #previousButton {
        margin-left: 25px;
    }
    .details-title {
        display: block;
        font-family: din-condensed-web;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        letter-spacing: .075em;
        line-height: .9em;
        text-transform: uppercase;
        color: #222;
        text-align: center;
    }
    .title {
        display: none;
    }
    /* rangeDetails */
    .rangeDetailsPage,
    .locationDetailsPage {
        padding: 10px;
    }
    .rangeDetails .leftCol {
        margin: 0 auto;
        text-align: unset;
    }
    .rangeDetails .leftColImgWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 auto;
        text-align: unset;
    }
    .rangeDetails .leftColImg {
        max-width: unset;
        width: 100%;
    }
}

@media screen and (min-width:641px) and (max-width:900px) {
    .leftColBottomImg {
        width: 45px;
    }
    #wellingtonChild9,
    #wellingtonChild10 {
        display: none;
    }
}


/* locationDetails and new-RangeDetails end */


/* Mobile style */

@media screen and (max-width:640px) {
    .menu-about-wrapper {
        display: block;
    }
    .menu-about-content {
        width: 100%;
        padding: 17px;
    }
    .covid-19 {
        width: 100%;
        padding: 20px;
    }
    .tea-box-wrapper {
        width: 100%;
        margin: 10px 0;
    }
    .tea-name {
        margin: 0;
    }
    .ins-row {
        display: inline;
    }
    .ins-img {
        width: 45%;
    }
    #img-btn1,
    #img-btn2 {
        max-height: auto;
        width: 100%;
        height: auto;
        display: inline;
        padding: 10px;
        cursor: pointer;
    }
    .range-product-wrapper {
        width: 100%;
        margin: 1% 0 2%;
    }
    .range-product-category {
        margin-bottom: 15%;
    }
    .modal-content img {
        max-width: 100%;
        height: auto;
    }
    .modal-content2 img {
        width: 100%;
        margin-top: 30%;
    }
    .locationTopnav,
    .new-rangesTopnav {
        display: block;
    }
    .category {
        display: block;
        text-align: center;
    }
    .category:active,
    .show-category-list a:active {
        background-color: lightgray;
    }
    .category span {
        text-align: center;
    }
    .extend {
        display: inline-block;
        transform: rotate(180deg);
    }
}


/* membership */
form {border: 3px solid #f1f1f1;}

.login{
    width:100%;
    margin: 0 auto;
    margin-top: 50px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.registernowbtn {
  width: auto;
  padding: 10px 18px;
  background-color:#4CAF50;
}

.membershipContainer {
  padding: 40px 100px 40px 100px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.membership{
  width: 60%;
  margin: 5% auto;
}

@media screen and (max-width: 600px) {
  span.psw {
     display: block;
     float: none;
  }
  .registernowbtn {
     width: 100%;
  }
  .membershipContainer{
    padding: 16px;
  }
  .membership{
    width: 100%;
    padding: 17px;
  }
}
/* register */
.register{
  width:60%;
  margin: 0 auto;
  margin-top: 50px;
}

.registerContainer {
padding: 16px;
background-color: white;
}

input[type=text], input[type=password], 
input[type=username], input[type=firstname], 
input[type=lastname] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=file]{
  width: 100%;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
}
select{
  width: 100%;
  padding: 7px;
  margin: 5px 0 22px 0;
  display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: auto;
  float: right;
}
.backbtn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: auto;
}

.registerbtn:hover {
opacity: 1;
}

.signin {
background-color: #f1f1f1;
text-align: center;
}
.signin a:hover{
  color: blue;
}
@media screen and (max-width: 600px) {
  .register{
    width: 100%;
  }
}

/* find password */
.findpassword{
  width:60%;
  margin: 0 auto;
  margin-top: 50px;
}

.findpasswordContainer {
padding: 16px;
background-color: white;
}

input[type=username], input[type=text] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus, input[type=text]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.sendbtn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
width: auto;
float: right;
}
.backbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: auto;
}

.sendbtn:hover, .backbtn:hover {
opacity: 1;
}
@media screen and (max-width: 600px) {
  .findpassword{
    width: 100%;
  }
}


