.container{
    max-width: 1400px;
    margin: 10px auto;
}

.covid-19,
.about,
.blog,
.home,
.membership {
    width: 56%;
    margin: 20px auto;
}

.container h1 {
    margin: 10px;
    text-align: center;
}

.container p {
    margin: 10px;
}

/* .container img {
    display: block;
    width: 500px;
    margin: 0px auto;
    padding: 5px auto;
} */

.home img,
.blog img, 
.about img {
    display: block;
    width: 500px;
    margin: 0px auto;
    padding: 5px auto;
}


/* menu */

menu {
    background-color: lightgray;
    max-width: 1080px;
    margin: 30px auto;
}

.menu-h2 {
    color: gray;
    padding-top: 30px;
    text-align: center;
}

.menu-image {
    background-color: white;
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px auto;
    text-align: center;
}
.image-content{
  display: inline;
}
.menu-image img {
    display: inline;
    max-height: 450px;
    margin: 10px auto;
    padding: 10px;
}

.menu-about h2{
  text-align: center;
}

.about-wraper {
    display: flex;
    margin: 0 auto;
}

.about-content {
    width: 31%;
    border-radius: 15px;
    margin: 10px auto;
    padding: 5px;
}

.new-range{
    max-width: 1400px;
}

.range-heading{
    text-align: center;
}

.range-product{
    text-align: center;
    width: 340px;
    height: 600px;
    display: inline-block;
}

.range-product img{
  width: 340px;
  height: 550px;
}
/* menu end */


/* footer */

.creation-container {
    max-width:1400px ;
    margin: 10px auto;
}

.creation-row {
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
}

.tea-box {
    height: 52ex;
    margin: 0 auto;
    display: inline-block;
}

.tea-box img {
    height: 50ex;
    padding: 10px;
    display: inline-block;
}
.tea-name {
  padding: 0 10px;
}


.ins-container {
  text-align: center;
  margin: 20px auto;
}
.ins-row {
    max-width: 100%;
    margin: 20px auto;
}

.ins-container h3,
.a-button h3 {
    text-align: center;
}

.ins-img {
  width: 19%;
  padding: 0 1%;
  display: inline-block;
  margin: 10px 0;
}

.ins-img img {
  width: 100%;
}


.but-container {
    text-align: center;
    margin: 50px auto;
}

.a-button {
    text-align: center;
    width: 45%;
    font-size: 1em;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.a-button:hover {
    cursor: pointer;
    background-color: grey;
}

.a-button :hover {
    cursor: pointer;
    background-color: grey;
}

.follow-ins-title {
    margin: 50px;
}

/* footer end  */

@media screen and (max-width: 850px) {
    .container img {
        width: 250px;
    }
}

.content-text {
    max-width: 30em;
    margin: 5px auto;
}


/* home */

.slideShow {
    display: block;
    /* width: 500px; */
    margin: 0 auto;
}

.mySlides {
    display: none;
    padding: 5px auto;
}


/* home */


/* contact us */

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin-top: 6px;
  margin-bottom: 16px; */
}

input[type=submit] {
    background-color: white;
    /* color: white; */
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

.innerContainer {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}


/* contact */


/* location */
.locationTopnav{
  display: flex;justify-content: center;align-items: center;font-weight:bold;
}
.location{
    max-width: 1250px;
}

.locationTopnav a:hover {
    color: gray
}

.parent {
    display: flex;
    flex-wrap: wrap;
  }
  
  .child {
    flex: 1 0 21%; 
    cursor: pointer;
    /* overflow: hidden; */
  }
  .child p:hover{
    color: gray;
}

.allImg {
    margin: none !important;
    height: 300px;
    width: 280px !important;
  }
  
  @media screen and (max-width: 850px){
    .allImg{
      height: 200px;
      width: 140px !important;
    }
    .locationTopnav{
      display: none;
    }
}
/* location */

/* locationDetails */
.leftCol, .rightCol {
  float: left;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.locationDetails:after {
  content: "";
  display: table;
  clear: both;
}
#previousButton:hover,#nextButton:hover{
  color:gray;
}
.leftColImgWrapper{
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}
.normal-zoom {
  transform: scale(1);
  cursor: zoom-in;
  transition: transform 250ms;
}

.zoom-in {
  transform: scale(1.6);
  cursor: zoom-out;
  transition: transform 250ms;
}
.mapIframe{
  width: 100%;
  height: 400px;
  padding: 0px 50px 0px 50px;
}

.othersParent {
  display: flex;
  flex-wrap: wrap;
}

.othersParent div {
  flex: 1 0 10%; 
  cursor: pointer;
}
.othersParent div:hover{
  color: gray;
}
.othersParent div p{
  text-align: center;
}

#othersImg {
  margin: none !important;
  height: 200px !important;
  width: 200px !important;
  cursor: pointer;
}
.leftColBottomImgWrapper{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 0px 45px 0px 45px;
  margin: none !important;
  /* margin: 0 auto; */
  gap: 10px;
}
.leftColBottomImg{
  width: 90px !important;
  margin: 10px auto !important;
  cursor: pointer;
}
#locationFb:hover, #locationTwitter:hover, #locationTumblr:hover, #locationPinterest:hover{color: gray;cursor: pointer;}
@media screen and (max-width: 800px) {
  .locationDetails{display: block;}
  .leftCol, .rightCol{width:100%;}
  .leftColBottomImgWrapper{padding: 0px 15px 0px 15px;}
  .mapIframe{padding: 0px 30px 0px 30px;}
  /* #othersImg{width: 250px;} */
  
}

/* locationDetails */
