.covid-19,
.about,
.blog,
.home,
.membership,
.contactus,
.faq,
.location {
    background-color: lightgray;
    max-width: 680px;
    margin: 20px auto;
}

.container h1 {
    margin: 10px;
    text-align: center;
}

.container p {
    margin: 10px;
}

.container img {
    display: block;
    width: 500px;
    margin: 0px auto;
    padding: 5px auto;
}

.content-text {
    max-width: 30em;
    margin: 5px auto;
}

.a-button li {
    font-size: 2em;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 3px;
    margin: 10px;
    padding: 20px;
}

.a-button li:hover {
    cursor: pointer;
    background-color: grey;
}
/* home */
.slideShow{
    display: block;
    /* width: 500px; */
    margin: 0 auto;   
}
.mySlides {
    display:none;
    padding: 5px auto;
}
/* home */