
.container {
    max-width: 1400px;
    margin: 10px auto;
    padding-top: 30px;
}

.about,
.blog,
.home {
    width: 56%;
    margin: 5% auto;
}

.home img,
.blog img,
.about img {
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 5px auto;
}

@media screen and (max-width:640px) {
    .about,
    .blog,
    .home {
        width: 100%;
        padding: 17px;
    }
    .mySlides {
        padding-top: 50px;
    }
}


/* The Pop on Modal (background) */

.modal,
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content,
.modal-content2 {
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.modal-content img {
    padding: 1%;
    height: 100%;
}

.modal-content2 img {
    padding: 1%;
    width: 100%;
}

#img-btn1,
#img-btn2 {
    display: inline;
    height: 50vh;
    max-height: 640px;
    padding: 10px;
    cursor: pointer;
}


/* Mobile style */

@media screen and (max-width:640px) {
    .menu-about-wrapper {
        display: block;
    }
    .menu-about-content {
        width: 100%;
        padding: 17px;
    }
    .covid-19 {
        width: 100%;
        padding: 20px;
    }
    .tea-box-wrapper {
        width: 100%;
        margin: 10px 0;
    }
    .tea-name {
        margin: 0;
    }
    .ins-row {
        display: inline;
    }
    .ins-img {
        width: 45%;
    }
    #img-btn1,
    #img-btn2 {
        max-height: auto;
        width: 100%;
        height: auto;
        display: inline;
        padding: 10px;
        cursor: pointer;
    }
    .range-product-wrapper {
        width: 100%;
        margin: 1% 0 2%;
    }
    .range-product-category {
        margin-bottom: 15%;
    }
    .modal-content img {
        max-width: 100%;
        height: auto;
    }
    .modal-content2 img {
        width: 100%;
        margin-top: 30%;
    }
    .locationTopnav,
    .new-rangesTopnav {
        display: block;
    }
    .category {
        display: block;
        text-align: center;
    }
    .category:active,
    .show-category-list a:active {
        background-color: lightgray;
    }
    .category span {
        text-align: center;
    }
    .extend {
        display: inline-block;
        transform: rotate(180deg);
    }
}

.warning {
    color: red;
    font-weight: bold;
    font-size: 13px;
}

.reminder {
    font-size: 13px;
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.hide {
    display: none;
}

.appear {
    color: red;
    font-weight: bold;
    font-size: 10px;
    display: block;
    text-align: center;
}